/* import bootstrap css from react-bootstrap */

@import "~bootstrap/dist/css/bootstrap.min.css";

/* algunas personlaizaciones */

body {
  text-align: center;
  align-items: center;
  color: #ccc;
  background-color: black;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}